# Node.js dependencies
backend/node_modules/
frontend/node_modules/

# Environment files
.env

# Log files
*.log

# VS Code settings  
.vscode/

# Python (jika ada, buat jaga-jaga)
__pycache__/
*.pyc

# Build artifacts
dist/
build/

# OS-specific
.DS_Store
Thumbs.db

# npm
node_modules
package-lock.json
npm-shrinkwrap.json
*.log
*.gz

# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore
